API_PORT=8080
ADMINER_PORT=8081
POSTGRES_USER=demo
POSTGRES_DB=demo
# Le mot de passe de l'API est ici pour la connexion Node.js
# Mais le mot de passe de la DB passera par un fichier de secret Docker
DB_PASSWORD=demo
